


/* body ===================================================================== */


.title {
width: 20%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

td {
width: 10px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}


.table {
table-layout: fixed;
}

.col-sm-8 .text-left {
justify-content: space-around;
}

