 /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
      .row.content {height: 450px}
      
      /* Set gray background color and 100% height */
      .sidenav {
        padding-top: 20px;
        background-color: #f1f1f1;
        height: 145%;
      }
      
      /* Set black background color, white text and some padding */
      footer, header {
        background-color: #555;
        color: white;
        padding: 15px;
      }
      
      /* On small screens, set height to 'auto' for sidenav and grid */
      @media screen and (max-width: 767px) {
        .sidenav {
          height: auto;
          padding: 15px;
        }
        .row.content {height:auto;} 
      }
  
      /*사이드바*/
      li {
    list-style: none;
    text-decoration: none;
    color:black;
  }
  
  .mypage-category-list ul li:hover {
    background-color: #bcbcbc;
    font-weight: bold;
  }
  
  .mypage-sidebar-list-myWriting {
    padding: 1%;
    border: 1px solid #bcbcbc;
  }
  
  .mypage-category-list ul li {
    padding: 5px;
  }
  
      
  /* 문서 목록 리스트 css */
  #mypage_mywriting h2 {
    margin-top: 40px;
  }
  
  .document {
    margin-bottom: 15%;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    height: 100px;
    white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  }
  
  .list-body tr:hover {
    background-color: #bcbcbc;
    font-size: 1em;
  }
  
  
  #mypage_starmark, #mypage_personalInfo, #mypage_mytag {
    display: none;
  }
  
  .col-sm-8 text-left h2 {
    color: aqua;
  }
  
  /* 칸넘어가는 길이는 ..으로 변환 */
  td {
	width: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	}
  
  /* 회원정보 수정 */
  .input-form {
  max-width: 680px;
  margin-top: 20px;
  padding: 32px;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
  }
  
  #inputdept {
    float: left;
  }
  
  #mypage_personalInfo {
  	margin-bottom: 50px;
  }
  
	div {
  	padding: 10px;
  }
