<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="user">


<select id="readDeptList" parameterType="Long" resultType="dept">
select d1.id,
	d1.name,
	d2.id as upper_st_id,
	d2.name as upper_st_name,
	d3.id as upper_nd_id,
	d3.name as upper_nd_name
from dept d1, dept d2, dept d3
where d1.upper_dept = d2.id
and d2.upper_dept = d3.id
and d1.id = ${deptId}
</select>

<select id="readUser" parameterType="user" resultType="user">
select id,
	email,
	name,
	phone_number,
	dept_number,
	position_id,
	dept_id,
	hashtag_id
from user
where email = #{email}
and password = #{password}
</select>

<insert id="createUser" parameterType="user">
insert into user (
	email,
	name,
	password,
	phone_number,
	dept_number
)
values (
	#{email},
	#{name},
	#{password},
	#{phoneNumber},
	#{deptNumber}
)
</insert>

<update id="updateUser" parameterType="user">
update user
	<trim prefix="set" prefixOverrides=",">
		<if test="password != null">password = #{password}</if>
		<if test="phoneNumber != null">phone_number = #{phoneNumber}</if>
		<if test="deptNumber != null">dept_number = #{deptNumber}</if>
		<if test="positionId != null">position_id = #{positionId}</if>
		<if test="deptId != null">dept_id = #{deptId}</if>
		<if test="hashtagId != null">hashtag_id = #{hashtag_id}</if>
	</trim>
</update>

</mapper>

